
<style>
    .sidebar-item {
        list-style-type: none;
    }
</style>

<aside class="menu-item">
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="nav-link" href="/Admin/Products/Index">
                        <i class="mdi mdi-table-large menu-icon"></i>
                        <span class="menu-title">Sản phẩm</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="nav-link" href="/Admin/ProductCategory/Index">
                        <i class="mdi mdi-table-large menu-icon"></i>
                        <span class="menu-title">Danh mục</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="nav-link" href="/Admin/order/Index">
                        <i class="mdi mdi-table-large menu-icon"></i>
                        <span class="menu-title">Đơn hàng</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="nav-link" href="/Admin/role">
                        <i class="mdi mdi-table-large menu-icon"></i>
                        <span class="menu-title">Quyền</span>
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a class="nav-link" href="/Admin/Account/Index">
                        <i class="mdi mdi-table-large menu-icon"></i>
                        <span class="menu-title">Quản lý tài khoản</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
       
</aside>


